  <div class="social">
    <a href="http://twitter.com/needwantinc"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/pages/NEEDWANT/328839123807640"><i class="fa fa-facebook"></i></a>
  </div>

  <section class="animated fadeInDown">
    <h1 class="animated fadeIn">Airstar is coming.</h1>
    <p class="animated fadeIn">We provide essential kits for your rental guests.
    Sign up to get notified when we launch!</p>

    <!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//needwant.us7.list-manage.com/subscribe/post?u=3a74d967a6a7e041d8f8f7fd4&amp;id=7028138a4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3a74d967a6a7e041d8f8f7fd4_7028138a4b" tabindex="-1" value=""></div>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button animated fadeIn"></div>
</form>
</div>

<!--End mc_embed_signup-->



  </section>